<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
   <head>
      <meta charset="UTF-8">
      <title>Product List</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
   </head>
   <body>
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
 
      <div class="page-title">Danh sách đơn hàng</div>
      <div>Tổng số đơn hàng: <span th:utext="${paginationResult.totalRecords}"></span></div>
      
      <th:block sec:authorize="hasRole('ROLE_MANAGER')">
            
         <table border="1" style="width:100%">
         <tr>
            <th>Số đơn</th>
            <th>Ngày đặt đơn</th>
            <th>Tên tài khoản</th>
            <th>Tổng giá trị</th>
            <th>Trạng thái đơn hàng</th>
            <th>Chi tiết</th>
         </tr>
         <tr th:each="orderInfo : ${paginationResult.list}">
            <td th:utext="${orderInfo.orderNum}"></td>
            <td th:utext="${#dates.format(orderInfo.orderDate,'dd-MM-yyyy HH:mm')}"></td>
            <td th:utext="${orderInfo.userName}"></td>
            <td style="color:red;" th:utext="${#numbers.formatDecimal(orderInfo.amount,3,2,'COMMA')}">
            </td>
            <th:block th:if="${orderInfo.status == 1}">
            	<td><a th:href="@{|/orderList/setStatus?orderId=${orderInfo.id}&setValue=0|}">Cancel</a></td>
          	</th:block>
          	<th:block th:if="${orderInfo.status == 0}">
            	<td><a th:href="@{|/orderList/setStatus?orderId=${orderInfo.id}&setValue=1|}">Active</a></td>
          	</th:block>
      		<td><a th:href="@{|/admin/order?orderId=${orderInfo.id}|}">Xem</a></td>
         </tr>
      </table>
            
       </th:block>
       
       <th:block sec:authorize="hasRole('ROLE_USER')">
            
         <table border="1" style="width:100%">
         <tr>
            <th>Số đơn</th>
            <th>Ngày đặt đơn</th>
            <th>Tên người nhận</th>
            <th>Địa chỉ người nhận</th>
            <th>Email người nhận</th>
            <th>SĐT người nhận</th>
            <th>Tổng giá trị</th>
            <th>Trạng thái đơn hàng</th>
            <th>Chi tiết</th>
         </tr>
         <tr th:each="orderInfo : ${paginationResult.list}">
            <td th:utext="${orderInfo.orderNum}"></td>
            <td th:utext="${#dates.format(orderInfo.orderDate,'dd-MM-yyyy HH:mm')}"></td>
            <td th:utext="${orderInfo.customerName}"></td>
            <td th:utext="${orderInfo.customerAddress}"></td>
            <td th:utext="${orderInfo.customerEmail}"></td>
            <td th:utext="${orderInfo.customerPhone}"></td>
            <td style="color:red;" th:utext="${#numbers.formatDecimal(orderInfo.amount,3,2,'COMMA')}">
            </td>
            <th:block th:if="${orderInfo.status == 1}">
            	<td><a th:href="@{|/orderList/setStatus?orderId=${orderInfo.id}&setValue=0|}">Cancel</a></td>
          	</th:block>
          	<th:block th:if="${orderInfo.status == 0}">
            	<td><a th:href="@{|/orderList/setStatus?orderId=${orderInfo.id}&setValue=1|}">Active</a></td>
          	</th:block>
            
      		<td><a th:href="@{|/order?orderId=${orderInfo.id}|}">Xem</a></td>
         </tr>
      </table>
       </th:block>
      <div class="page-navigator" th:if="${paginationResult.totalPages > 1}" >
         <th:block th:each="page: ${paginationResult.navigationPages}">
         
          <th:block sec:authorize="hasAnyRole('ROLE_MANAGER')">
            <a th:if="${page != -1}" class="nav-item"
               th:href="@{|/admin/orderList?page=${page}|}" th:utext="${page}"></a>
          </th:block>
          <th:block sec:authorize="hasAnyRole('ROLE_USER')">
            <a th:if="${page != -1}" class="nav-item"
               th:href="@{|/orderList?page=${page}|}" th:utext="${page}"></a>
          </th:block>        
            <span th:if="${page == -1}" class="nav-item"> ... </span>
         </th:block>
      </div>
      <th:block th:include="/_footer"></th:block>
   </body>
</html>