<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
   <head>
      <meta charset="UTF-8">
      <title>User list</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
   </head>
   <body>
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
 
      <div class="page-title">Danh sách user</div>
      <div>Tổng số user: <span th:utext="${paginationResult.totalRecords}"></span></div>
      <table border="1" style="width:100%">
         <tr>
            <th>User</th>
            <th>Phân quyền</th>
            <th>Trạng thái</th>
            <th>Họ tên</th>
            <th>Email</th>
            <th>Địa chỉ</th>
            <th>Disable</th>
         </tr>
         <tr th:each="accountInfo : ${paginationResult.list}">
            <td th:utext="${accountInfo.userName}"></td>
            <td th:utext="${accountInfo.userRole}"></td>
            
            <th:block th:if="${accountInfo.active == 1}">
            <td>Đang hoạt động</td>
          	</th:block>
          	 <th:block th:if="${accountInfo.active != 1}">
            <td>Dừng hoạt động</td>
          	</th:block>
            
            <td th:utext="${accountInfo.fullName}"></td>
            <td th:utext="${accountInfo.email}"></td>
            <td th:utext="${accountInfo.address}"></td>
            
            <th:block th:if="${accountInfo.active == 1}">
            	<td><a th:href="@{|/admin/userList/setActive?userName=${accountInfo.userName}&setValue=0|}">Disable</a></td>
          	</th:block>
          	<th:block th:if="${accountInfo.active == 0}">
            	<td><a th:href="@{|/admin/userList/setActive?userName=${accountInfo.userName}&setValue=1|}">Enable</a></td>
          	</th:block>
            
            
         </tr>
      </table>
      <div class="page-navigator" th:if="${paginationResult.totalPages > 1}" >
         <th:block th:each="page: ${paginationResult.navigationPages}">
         
          <th:block sec:authorize="hasRole('ROLE_MANAGER')">
            <a th:if="${page != -1}" class="nav-item"
               th:href="@{|/admin/userList?page=${page}|}" th:utext="${page}"></a>
          </th:block>
            <span th:if="${page == -1}" class="nav-item"> ... </span>
            
         </th:block>
      </div>
      <th:block th:include="/_footer"></th:block>
   </body>
</html>